*{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  color: white;
}

body, html{
  height:  100vh;
  width: 100vw;
}

nav{
  height : 15vh;
  display: flex;
  align-items: center;
  padding: 0px 3em;
}

.container{
  display: flex;
  height : 85vh;
  width: 100vw;
  padding: 0px 1em;
}

.left{
  height: 100%;
  width: 50%;
  display: flex ;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  flex-direction: column;
}

#text{
  max-width: 90%;
}

p{
  margin-top: 1em;
  
}

.right{
  height: 100%;
  width: 50%;
}